%button{
  width: 160px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: $secondary-text-font-size;
}
 %list{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  list-style: none;
}
%section{
  text-align: center;
  padding-top: 42px;
  margin-bottom: 90px;
}
