.hover-list{
  @extend %list;
  width: 224px;
  height: 56px;
  background-color: #fce38a;
  transition: 0.2s ease-in;
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
    &:hover{
      background-color: #f38181;
    }
    &:not(:last-child){
      border-right:1px solid #f38181
    }
    & svg {
      width: 26px;
      height: 26px;
      fill: #f38181;
      transition: 0.2s ease-in;
    }
      &:hover>svg{
        fill: white;
      }
  }
}

